<div class="about_page">
  <div class="about_box">
    <ul class="about_first">
      <li>屋久島に興味のあるすべての方のためのサイトです。</li>
    </ul>
    <ul class="about_second">
      <li>観光地について知りたい</li>
      <li>旅行の計画を立てたい</li>
      <li>遊びに行った感想を投稿したい</li>
    </ul>
    <ul class="about_third">
      <li>そんなときにご利用ください。</li>
    </ul>
  </div>
</div>