<div class="admin_menu">
  <%= link_to "会員一覧", admin_users_path %>
  <%= link_to "スポット", admin_spots_path %>
  <%= link_to "カテゴリー", admin_categories_path %>
  <%= link_to "投稿", admin_posts_path %>
</div>